/*-START- Codigo centrado en mi_pedido.html*/

main{
    section{
        form{
            display: block;
            grid-area: Data;
            input{
                display:block;
            }
            
        }
    }
}

.FillerContent{
    margin: 1rem 0;
    display: none;
}

@media only screen and (min-width: 768px){
    /*10 inch vertical tablet*/
    .FillerContent{
        display: block
    }
}


/*-END- Codigo centrado en mi_pedido.html*/