/*-START- Codigo centrado en seguros.html*/
section{
    table.table{
        max-width: 100vw;
        thead{
            background-color: $Persian-blue;
            color: $Dark-Cyan;
            max-width: 100vw;
            tr{
                th{
                    max-width: 25vw;
                }
            }
        }
        tbody{
            background-color: $Linen;
            tr{
                th, td{
                    max-width: 25vw;
                }
            }

        }
    }
    .carousel.slide{
        max-width: 100vw;
        .carousel-item {
            img{
                width: 320px;
                height: 180px;;
                margin:auto;
            }
        }

    }
}
@media only screen and (min-width: 1024px) {
    table.table{
        min-width: 800px;
    }
}
/*-END- Codigo centrado en seguros.html*/
