


/*-START- Codigo centrado en seguros.html*/
section{
    .carousel-item.active {
        img{
            width: 320px;
            height:auto;
            margin:auto;
        }
    }
}

/*-END- Codigo centrado en seguros.html*/
