


/*-START- Codigo centrado en seguros.html*/
section{
    .carousel.slide{
        .carousel-item {
            img{
                width: 320px;
                height: 180px;;
                margin:auto;
            }
        }

    }
}

/*-END- Codigo centrado en seguros.html*/
