
.data_Formulary{
    display: grid;
    grid-template-areas: 
                        "Title"
                        "Data";
    grid-template-rows: fit-content(100%) fit-content(100%);
    justify-content: center;
    padding: 22px 20px;
    &--signIn{
        &--logo{
            @extend .data_Formulary;
            grid-template-areas: 
                                "Logo"
                                "Title"
                                "Data";
            grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
            svg{
                grid-area: Logo;
                margin-bottom: 14px;
            }
            font-family: 'Roboto';
            font-style: normal;
        }
    }
    .FormHeader{
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        grid-area: Title;
        margin: 0.5rem 0;
        color: #000000;
        margin-bottom: 14px;
    }
    form {
        grid-area: Data;
        .form-label{
            font-size: 14px;
            line-height: 16px;
            color: #525A66;
            margin-bottom: 0px;
        }
        .form-control{
            //inputs de texto
            background-color: #383E46;
            height: 24px;
            color: #FFFFFF;
            line-height: 16px;
            font-weight: 400;
            font-size: 14px;
            min-width: 285px;
            padding-left: 7px;
            padding-top: 4px;
            padding-bottom: 4px;
            border: 0px;
            margin-bottom: 14px;
            &::placeholder{
                color: #FFFFFF;
            }
        }
        .btn{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            padding: 2.5px 5.5px;
            border-radius: 5px;
            border: 0px;
            color: #FFFFFF;
            background-color: #00ACB4;
        }
        .DropBoxLabel{
            display:block;
            select{
                display: block;
            }
        }
        .CheckBoxLabel {
            display: inline;
        }
        .text-muted{
            font-size: 12px;
            padding-top: 0;
        }
        div{
            span{
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #525A66;
            }
        }
    }
}