
.data_Formulary{
    display: grid;
    grid-template-areas: 
                        "Title"
                        "Data";
    grid-template-rows: fit-content(100%) fit-content(100%);
    justify-content: center;
    padding: 22px 20px;

    &--signIn{
        &--logo{
            @extend .data_Formulary;

            grid-template-areas: 
                                "Logo"
                                "Title"
                                "Data";
            grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);

            font-family: 'Roboto';
            font-style: normal;

            svg{
                grid-area: Logo;
                margin-bottom: 14px;
            }
        }
    }
    .FormHeader{
        grid-area: Title;

        margin: 0.5rem 0;
        margin-bottom: 14px;

        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: left;

        color: #000000;
    }
    form {
        grid-area: Data;
        
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        div{
            display: block;
        }
        .form-label{
            display: block;
            margin-bottom: 0px;

            font-size: 14px;
            line-height: inherit;

            color: #525A66;
        }
        .form-control{
            height: 24px;
            min-width: 285px;
            border: 0px;
            margin-bottom: 14px;
            padding: 0px 7px;

            line-height: inherit;

            background-color: #383E46;
            color: #FFFFFF;

            &:empty{
                padding: 4px 7px;
            }
            &::placeholder{
                color: #FFFFFF;
            }
        }
        .btn{
            padding: 2.5px 5.5px;
            border-radius: 5px;
            border: 0px;

            font-style: normal;
            font-size: inherit;
            line-height: inherit;

            color: #FFFFFF;
            background-color: #00ACB4;

            & ~ span{
                font-size: 64px;
                font-size: 12px;
                line-height: 14px;

                color: #525A66;     
            }
        }
        .DropBoxLabel{
            display:block;
            select{
                display: block;
            }
        }
        .CheckBoxLabel {
            display: inline;
        }
        .text-muted{
            font-size: 12px;
        }
        #form__result{
            font-size: 14px;
            display: block;
            h3{
                font-size: 16px;
            }
            div{
                font-size: 14px;
                display: block;
            }
        }
    }
}
