
/*Carga de las fuentes guardades en los assets*/
@font-face {
	font-family: 'Metropolis';
	src: url('../font/Metropolis/Metropolis-Regular.ttf');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../font/Montserrat/Montserrat-Regular.ttf');
}