@charset "UTF-8";
/*START Colors*/
/* END  Colors*/
/*CSS reset: ayuda a evitar diferencias visuales entre navegadores*/
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0; }

/*-START- Default settings*/
/*Formato por default del texto*/
body {
  background-color: #DCE9E9;
  background-image: radial-gradient(50% 49.96% at 50% 50.04%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  display: grid;
  grid-template-areas: "Header" "Main" "Footer";
  grid-template-rows: 90px auto 94px;
  /*existe un media query que cambia la ultima fila en el footer section*/
  font-family: 'Montserrat', 'Metropolis', 'Roboto';
  font-weight: normal;
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100vh; }

@media only screen and (min-width: 768px) {
  /*10 inch vertical tablet*/
  /*relevante para el footer*/
  body {
    grid-template-rows: 90px auto 64px; } }

h1 {
  display: none;
  /*No estoy interesado en que el h1 se vea*/ }

/*Configuracion predeterminada de un parrafo*/
p {
  line-height: 16px;
  font-size: 14px; }

/*-END- Default settings*/
/*Carga de las fuentes guardades en los assets*/
@font-face {
  font-family: 'Metropolis';
  src: url("../font/Metropolis/Metropolis-Regular.ttf"); }

@font-face {
  font-family: 'Montserrat';
  src: url("../font/Montserrat/Montserrat-Regular.ttf"); }

.data_Formulary, .data_Formulary--signIn--logo {
  display: grid;
  grid-template-areas: "Title" "Data";
  grid-template-rows: fit-content(100%) fit-content(100%);
  justify-content: center;
  padding: 22px 20px; }
  .data_Formulary--signIn--logo {
    grid-template-areas: "Logo" "Title" "Data";
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    font-family: 'Roboto';
    font-style: normal; }
    .data_Formulary--signIn--logo svg {
      grid-area: Logo;
      margin-bottom: 14px; }
  .data_Formulary .FormHeader, .data_Formulary--signIn--logo .FormHeader {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    grid-area: Title;
    margin: 0.5rem 0;
    color: #000000;
    margin-bottom: 14px; }
  .data_Formulary form, .data_Formulary--signIn--logo form {
    grid-area: Data;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; }
    .data_Formulary form .form-label, .data_Formulary--signIn--logo form .form-label {
      font-size: 14px;
      line-height: inherit;
      color: #525A66;
      margin-bottom: 0px; }
    .data_Formulary form .form-control, .data_Formulary--signIn--logo form .form-control {
      background-color: #383E46;
      height: 24px;
      color: #FFFFFF;
      line-height: inherit;
      min-width: 285px;
      border: 0px;
      margin-bottom: 14px;
      padding: 0px 7px; }
      .data_Formulary form .form-control:empty, .data_Formulary--signIn--logo form .form-control:empty {
        padding: 4px 7px; }
      .data_Formulary form .form-control::placeholder, .data_Formulary--signIn--logo form .form-control::placeholder {
        color: #FFFFFF; }
    .data_Formulary form .btn, .data_Formulary--signIn--logo form .btn {
      font-style: normal;
      font-size: inherit;
      line-height: inherit;
      padding: 2.5px 5.5px;
      border-radius: 5px;
      border: 0px;
      color: #FFFFFF;
      background-color: #00ACB4; }
      .data_Formulary form .btn ~ span, .data_Formulary--signIn--logo form .btn ~ span {
        font-size: 64px;
        font-size: 12px;
        line-height: 14px;
        color: #525A66; }
    .data_Formulary form .DropBoxLabel, .data_Formulary--signIn--logo form .DropBoxLabel {
      display: block; }
      .data_Formulary form .DropBoxLabel select, .data_Formulary--signIn--logo form .DropBoxLabel select {
        display: block; }
    .data_Formulary form .CheckBoxLabel, .data_Formulary--signIn--logo form .CheckBoxLabel {
      display: inline; }
    .data_Formulary form .text-muted, .data_Formulary--signIn--logo form .text-muted {
      font-size: 12px; }

.dropdown {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  width: inherit;
  background-color: transparent; }
  .dropdown button {
    background-color: transparent; }
  .dropdown.show .dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: inherit;
    background-color: #AEDCDE;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    border: 0px; }
    .dropdown.show .dropdown-menu li {
      width: 100%;
      padding: 10px;
      border-radius: 5px; }
      .dropdown.show .dropdown-menu li:active {
        background-color: #ADFBFF; }
  .dropdown.show .dropdown-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: left;
    width: 100%;
    padding: 0px; }
    .dropdown.show .dropdown-item:active {
      background-color: transparent; }

@media only screen and (min-width: 1024px) {
  .dropdown {
    display: none; } }

/*-START- Seccion de barra de navegación (y encabezado)*/
header {
  grid-area: Header;
  /* es hijo de un grid */
  /*grid padre*/
  display: grid;
  grid-template-areas: "nav home . user";
  grid-template-columns: 1fr 1fr 7fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-items: center;
  /*El header queda siempre arriba en la pantalla mientras scrolleamos*/
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #00ACB4;
  background-image: linear-gradient(270.22deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: normal; }
  header h2 {
    display: none; }
  header nav,
  header .dropdown-menu .dropdown-item {
    grid-area: nav; }
  header nav:not(.dropdown) {
    display: none;
    font-size: 16px;
    /*Este tamaño varía según la pantalla*/
    width: 100%; }
  header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    width: inherit;
    background-color: inherit; }
  header nav ul li {
    display: inline-block;
    position: relative; }
    header nav ul li a {
      /*Color (y formato) default de un hipervinculo*/
      color: #171219;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration: none; }
      header nav ul li a:hover {
        color: #171219;
        /*Color de los hipervinculos al pasar el puntero sobre ellos*/
        background-color: inherit;
        animation-name: flash_background;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-delay: 0.1s;
        border-radius: 10px; }
      header nav ul li a:active {
        color: white;
        /*Color de los hipervinculos hacer click sobre ellos*/ }

@keyframes flash_background {
  /*Cambia gradualmente el fondo a blanco*/
  100% {
    opacity: 0.3;
    background-color: white; } }

#Logo {
  grid-area: home; }
  #Logo svg.mobile {
    display: block; }
  #Logo svg.desktop {
    display: none; }

@media only screen and (min-width: 1024px) {
  /*tablet horizontal*/
  header {
    grid-template-areas: "home nav user";
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr; }
    header #Logo svg.mobile {
      display: none; }
    header #Logo svg.desktop {
      display: block; }
    header nav {
      /*tablet horizontal*/
      font-size: 1.5em; }
    header nav:not(.dropdown) {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    header nav ul:not(.dropdown-menu) {
      /*Sobreescribo bootstrap margin*/
      margin-bottom: 0; } }

#UserProfile {
  grid-area: user;
  height: 90px;
  width: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px; }

/*-END- Seccion de barra de navegación (y encabezado)*/
/*-START- Codigo centrado en index.html */
main {
  grid-area: Main;
  display: block;
  background: none; }
  main section div {
    display: inline;
    padding: 8px 0px; }

/*-START- Intro al sitio*/
.Intro {
  /* Mobile first*/
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  .Intro .Description .Intro__text, .Intro .Description .Intro__text--title {
    display: block;
    text-align: center;
    max-width: 300px; }
  .Intro .Description .Intro__text--title {
    font-size: 36px;
    border: 0px;
    padding: 8px 0px;
    margin: auto; }

#IntroMedia {
  /* Mobile first*/
  display: block;
  /*el gif placeholder no tiene ancho igual a alto*/
  height: 320px;
  width: 320px;
  border-radius: 1rem;
  padding: 0px;
  border: 0px;
  margin: 0px; }

@media only screen and (min-width: 480px) {
  .Intro .Description .Intro__text, .Intro .Description .Intro__text--title {
    /*Mobile horizontal*/
    max-width: 360px; }
  #IntroMedia {
    /*Mobile horizontal*/
    height: 360px;
    width: 360px; } }

@media only screen and (min-width: 768px) {
  .Intro {
    /*10 inch vertical tablet*/
    flex-direction: row;
    justify-content: space-evenly; } }

/*-END- Intro al sitio*/
/*-START- Politicas y servicio de la empresa + Marcas con service*/
main h2 {
  font-size: 36px;
  border: 0px; }

main section section div img {
  display: block;
  height: 170px;
  width: 170px;
  margin: auto;
  position: relative;
  border: 3px;
  padding: 10px; }

main section section div h3 {
  font-size: 20px;
  margin: auto;
  width: 50%;
  text-align: center; }

main section section div p {
  margin: auto;
  width: 320px;
  text-align: center;
  /* tamaño de fuente definido en p*/ }

.Info {
  display: grid;
  grid-template-areas: "Banner" "Bulk";
  grid-template-rows: 64px fit-content(100%);
  align-items: stretch; }
  .Info .banner {
    text-align: center;
    background-color: #00ACB4;
    background-image: linear-gradient(135.1deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 78, 82, 0.04) 100%);
    width: 100%;
    grid-area: Banner;
    align-self: baseline;
    padding: 10px 0px;
    font-size: 36px;
    border: 0px; }
  .Info section {
    /*Hijo de grid*/
    grid-area: Bulk;
    /*Padre Flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .Info section div {
      padding: 8px 0px; }
      .Info section div h3 {
        padding: 8px 0px; }

@media only screen and (min-width: 480px) {
  .Info section {
    /*MobileH*/
    padding: 8px; }
  main section section div p {
    /*Mobile horizontal*/
    width: 360px; } }

@media only screen and (min-width: 1200px) {
  .Info section {
    /*desktop*/
    flex-direction: row;
    flex-wrap: wrap; } }

/*-END- Politicas y servicio de la empresa + Marcas con service*/
/*-END- Codigo centrado en index.html */
/*-START- Codigo centrado en accesorios.html */
/*Los h2 que separan las secciones de las marcas 
ya estan formateados en la sección de index  */
/* Los h3 (los nombres del producto) llevan el
mismo formato que los h3 de index */
/* En la entrega final, probablemente estos iframes
sean cambiados por imgs para no depender de terceros */
.Catalog {
  display: grid;
  grid-template-areas: "Banner" "Articles";
  grid-template-rows: fit-content(100%) fit-content(100%); }
  .Catalog .banner {
    /*Copy paste de las propiedasdes de .Info .banner*/
    text-align: center;
    background-color: #00ACB4;
    background-image: linear-gradient(135.1deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 78, 82, 0.04) 100%);
    width: 100%;
    grid-area: Banner;
    align-self: baseline;
    padding: 10px 0px;
    font-size: 36px;
    border: 0px; }
  .Catalog section {
    grid-area: Articles;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .Catalog section div h3 {
      width: 90%;
      height: 2.5em;
      /*uniformiza el tamaño para los distintos largos de texto*/ }
    .Catalog section div {
      display: block; }
      .Catalog section div img {
        border-radius: 1.25rem; }

/*-END- Codigo centrado en accesorios.html*/
/*-START- Codigo centrado en mi_pedido.html*/
main section form {
  display: block; }
  main section form input {
    display: block; }

.FillerContent {
  margin: 1rem 0;
  display: none; }

@media only screen and (min-width: 768px) {
  /*10 inch vertical tablet*/
  .FillerContent {
    display: block; } }

/*-END- Codigo centrado en mi_pedido.html*/
/*-START- Codigo centrado en prespuesto.html*/
.FormPresupuesto {
  display: block; }
  .FormPresupuesto label {
    display: block; }

/*-END- Codigo centrado en prespuesto.html*/
/*-START- Codigo centrado en seguros.html*/
section table.table {
  max-width: 100vw; }
  section table.table thead {
    background-color: #1B2CC1;
    color: #0F8B8D;
    max-width: 100vw; }
    section table.table thead tr th {
      max-width: 25vw; }
  section table.table tbody {
    background-color: #FFEDE1; }
    section table.table tbody tr th, section table.table tbody tr td {
      max-width: 25vw; }

section .carousel.slide {
  max-width: 100vw; }
  section .carousel.slide .carousel-item img {
    width: 320px;
    height: 180px;
    margin: auto; }

@media only screen and (min-width: 1024px) {
  table.table {
    min-width: 800px; } }

/*-END- Codigo centrado en seguros.html*/
#TopReminder {
  display: block;
  text-align: right;
  padding-right: 37.5px;
  background: none; }
  #TopReminder span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #525A66; }
    #TopReminder span a {
      color: #00ACB4; }

/*-START- Pie del sitio (igual en todas las paginas)*/
footer {
  /*hijo de grid*/
  grid-area: Footer;
  /*Padre Flex*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  background-color: #00ACB4;
  background-image: linear-gradient(270.22deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: normal;
  align-content: center; }
  footer h2 {
    display: none; }
  footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px; }
    footer div div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px; }
      footer div div h3 {
        display: inline;
        /*font-size: 24px;
                padding-left: 5px;*/
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        max-height: 28px;
        padding-left: 35px; }

@media only screen and (min-width: 768px) {
  /*10 inch vertical tablet*/
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%; }
      footer div div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        width: fit-content; }
        footer div div h3 {
          font-size: 20px;
          padding-left: 0px; } }

@media only screen and (min-width: 1024px) {
  footer div div h3 {
    font-size: 24px; } }

/* -END- Pie del sitio (igual en todas las paginas)*/
