/*-START- Default settings*/

/* CSS reset: ayuda a evitar diferencias visuales entre navegadores*/
* {
    Margin:0;
    padding:0;
 }

 h1,h2,h3,h4,h5,h6{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }
 

/*Formato por default del texto*/
body{
    display: grid;
    grid-template-areas:
        "Header"
        "Main"
        "Footer";
    grid-template-rows: 90px fit-content(100%) 94px; /*existe un media query que cambia la ultima fila en el footer section*/
    font-family: 'Montserrat', 'Metropolis', 'Raleway', 'Geomanist' ;
    font-weight: normal;
    font-size: 16px;
    overflow-x: hidden;
}

/*Carga de las fuentes guardades en los assets*/
@font-face {
	font-family: 'Metropolis';
	src: url('../font/Metropolis/Metropolis-Regular.ttf');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../font/Montserrat/Montserrat-Regular.ttf');
}


h1{
    display: none; /*No estoy interesado en que el h1 se vea*/
    color:blue;
    font-family: 'Montserrat';
    overflow-x: visible;
}

/*Configuracion predeterminada de un parrafo*/
p {
    line-height: 16px;
    font-size: 14px;
}

/*-END- Default settings*/


/*-START- Seccion de barra de navegación (y encabezado)*/

header{
    grid-area: Header; /* es hijo de un grid */
    /*grid padre*/
    display: grid;
    grid-template-areas: 
        "home . . user"
        "nav nav nav nav";
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    justify-items: center;

    /*El header queda siempre arriba en la pantalla mientras scrolleamos*/
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #1E91D6;
}

@media only screen and (min-width: 1024px) {
    header{
        /*tablet horizontal*/
        grid-template-areas: 
            "home . nav . user";
        grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

header h2{
    display: none;
}

#Logo{
    grid-area: home;
    height: 40px; 
}
#Logo svg{
    height: 40px;
    width: auto;
    max-width: 65px; /*Evita que haga overflow de la celda del grid*/
}

header nav{
    grid-area: nav;
    /*position: relative;*/
    font-size: 16px; /*Este tamaño varía según la pantalla*/
    width: 100%;
}

@media only screen and (min-width: 600px) {
    header nav{
        /*small tablet vertical*/
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    header nav{
        /*tablet horizontal*/
        font-size: 24px;
    }
}

header nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    width: inherit;
}


header nav ul li {
   display: inline-block;
   position:relative;
   
}
header nav ul li a {
    /*Color (y formato) default de un hipervinculo*/
    color: black;
    text-decoration: none;
}
header nav ul li a:hover {
    color: darkviolet;  /*Color de los hipervinculos al pasar el puntero sobre ellos*/
}
header nav ul li a:active {
    color: white;  /*Color de los hipervinculos hacer click sobre ellos*/
}

#UserProfile{
    grid-area: user;
    height: 40px;
    width: auto;
    max-width: 65px;
}
    
/*-END- Seccion de barra de navegación (y encabezado)*/




/*-START- Codigo centrado en index.html */

main {
    grid-area: Main;
    display: block;
    /*background-color: #FFEDE1;*/
    background-color: #f9d29d;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);

}

/*-START- Intro al sitio*/

.Intro{
    /* Mobile first*/
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
}
@media only screen and (min-width: 768px){
    .Intro{
        /*10 inch vertical tablet*/
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.Intro .Description .Intro__text{
    display:block;
    text-align: center;
    max-width: 480px;
}

.Intro .Description .Intro__text--title{
    font-size: 36px;
    border: 0px;
    padding: 8px 0px;
    margin: auto;
}

main section div{
    display: inline;
    padding: 8px 0px;
}

#IntroMedia{
    /* Mobile first*/
    display: block;
    height: 320px;
    width: 320px; /*el gif placeholder no tiene ancho igual a alto*/
    margin: auto;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

@media only screen and (min-width: 480px){
    #IntroMedia{
        /*Mobile horizontal*/
        height: 360px;
        width: 360px; 
    }
}

/*-END- Intro al sitio*/



/*-START- Politicas y servicio de la empresa + Marcas con service*/

main h2{
    font-size: 36px;
    border: 0px;
    }

.Info{
    display: grid;
    grid-template-areas:
        "Banner"
        "Bulk";
    grid-template-rows: 64px fit-content(100%);
    align-items: stretch;
}

.Info .banner{
    text-align: center;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    width: 100%;
    grid-area: Banner;
    align-self: baseline;
    padding: 10px 0px;
    font-size: 36px;
    border: 0px;
}

.Info section {
    /*Hijo de grid*/
    grid-area: Bulk;
    /*Padre Flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
}
@media only screen and (min-width: 1200px){
    .Info section{
        /*desktop*/
        flex-direction: row;
    }

}

.Info section div{
    padding: 8px 0px;
}

.Info section div h3{
    padding: 8px 0px;
}

main section section div img{
    display: block;
    height: 170px;
    width: 170px;
    margin: auto;
    position: relative;
    border: 3px dotted #C4C4C4;
    padding: 10px;
    
}
main section section div h3{
    font-size: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
}

main section section div p{
    margin: auto;
    width: 320px;
    text-align: center;
    /* tamaño de fuente definido en p*/
}

@media only screen and (min-width: 480px){
    main section section div p{
        /*Mobile horizontal*/
        width: 360px; 
    }
}

/*-END- Politicas y servicio de la empresa + Marcas con service*/

/*-END- Codigo centrado en index.html */




/*-START- Codigo centrado en accesorios.html */

/*Los h2 que separan las secciones de las marcas 
ya estan formateados en la sección de index  */

/* Los h3 (los nombres del producto) llevan el
mismo formato que los h3 de index */

/* En la entrega final, probablemente estos iframes
sean cambiados por imgs para no depender de terceros */

.Catalog{
    display: grid;
    grid-template-areas: 
                        "Banner"
                        "Articles";
    grid-template-rows: fit-content(100%) fit-content(100%);
}

.Catalog .banner {
    /*Copy paste de las propiedasdes de .Info .banner*/
    text-align: center;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    width: 100%;
    grid-area: Banner;
    align-self: baseline;
    padding: 10px 0px;
    font-size: 36px;
    border: 0px;
}

.Catalog section{
    grid-area: Articles;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Catalog section div h3 {
    width: 90%;
}

main section section div div{
    display:block;
}

main section section div iframe{
    width: 180px;
    height: 180px;
}

/*-END- Codigo centrado en accesorios.html*/




/*-START- Codigo centrado en mi_pedido.html*/
.Data_Formulary{
    display: grid;
    grid-template-areas: 
                        "Title"
                        "Data";
    grid-template-rows: fit-content(100%) fit-content(100%);
    justify-content: center;
}
.FormHeader{
    font-size: 24px;
    text-align: center;
    grid-area: Title;
}

main section form{
    display: block;
    grid-area: Data;
}
main section form input{
    display:block;
}

.DropBoxLabel{
    display:block;
}

.DropBoxLabel select{
    display: block;
}

.CheckBoxLabel {
    display: inline;
}

/*-END- Codigo centrado en mi_pedido.html*/




/*-START- Codigo centrado en prespuesto.html*/

.FormPresupuesto{
    display:block;
}

.FormPresupuesto label{
    display: block;
}

/*-END- Codigo centrado en prespuesto.html*/




/*-START- Pie del sitio (igual en todas las paginas)*/

footer{
    /*hijo de grid*/
    grid-area: Footer;
    /*Padre Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: relative;
    background-color: #77B6EA;
    align-content: center;
}

@media only screen and (min-width: 768px){
    /*10 inch vertical tablet*/
    footer{
        flex-direction: row;
    }
    body{
        grid-template-rows: 90px fit-content(100%) 64px;
    }
}

footer h2{
    display: none;
}

footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div h3{
    display: inline;
    font-size: 24px;
    padding-left: 5px;
}

footer div img{
    display: inline;
    height: 18px;
    width: 18px;
}
/* -END- Pie del sitio (igual en todas las paginas)*/
