/*-START- Default settings*/

/* CSS reset: ayuda a evitar diferencias visuales entre navegadores*/
* {
    Margin:0;
    padding:0;
 }

/*Formato por default del texto*/
body{
    font-family: 'Montserrat', 'Metropolis', 'Raleway', 'Geomanist' ;
    font-weight: normal;
    font-size: 16px;
    overflow-x: hidden;
}

/*Carga de las fuentes guardades en los assets*/
@font-face {
	font-family: 'Metropolis';
	src: url('../font/Metropolis/Metropolis-Regular.ttf');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../font/Montserrat/Montserrat-Regular.ttf');
}


h1{
    display: none; /*No estoy interesado en que el h1 se vea*/
    color:blue;
    font-family: 'Montserrat';
    overflow-x: visible;
}

/*Configuracion predeterminada de un parrafo*/
p {
    line-height: 16px;
    font-size: 14px;
}

/*-END- Default settings*/


/*-START- Seccion de barra de navegación (y encabezado)*/

header{
    position: sticky;
    top: 0px;
    background-color: #1E91D6;
    z-index: 2;
}

header nav{
    display: inline-block;
    position: relative;
    font-size: 36px;
}
header h2{
    display: inline-block;
}

#Logo{
    height: 40px;
    width: auto;
}

header nav ul{
    display: inline-block;
    list-style: none;
}

header nav ul li {
   display: inline-block;
   position:relative;
   border: 1px solid darkviolet;  /*el borde es solo para el desafío*/
   padding: 2px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 5px;
   margin-right: 5px;
   
}
header nav ul li a {
    /*Color (y formato) default de un hipervinculo*/
    color: black;
    text-decoration: none;
}
header nav ul li a:hover {
    color: darkviolet;  /*Color de los hipervinculos al pasar el puntero sobre ellos*/
}
header nav ul li a:active {
    color: white;  /*Color de los hipervinculos hacer click sobre ellos*/
}
    
/*-END- Seccion de barra de navegación (y encabezado)*/




/*-START- Codigo centrado en index.html */

main {
    display: block;
    background-color: #FFEDE1;
}

/*-START- Intro al sitio*/

.Intro{
    /* Mobile first*/
    display:block;
    width: 100%;
    height: 75%;
    margin: auto;
    max-width: 100%;
}
@media only screen and (min-width: 720px) {
    .Intro{
        /*ajustes para pc*/
        display:inline-block;
        max-width: 50%;
    }
}

.TextoIntro {
    display:block;
    text-align: center;
    width: 75%;
}

.brutoTitulo{
    font-size: 36px;
    border: 0px;
    margin: auto;
}

main section div{
    display: inline;
}

#IntroMedia{
    /* Mobile first*/
    display: block;
    height: 360px;
    width: 360px; /*el gif placeholder no tiene ancho igual a alto*/
    margin: auto;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

@media only screen and (min-width: 720px) {
    #IntroMedia{
        /*ajustes para pc*/
        display:inline-block;
    }
}

/*-END- Intro al sitio*/



/*-START- Politicas y servicio de la empresa*/

main h2{
    font-size: 36px;
    border: 0px;
    }
.banner{
    text-align: center;
    background-image: url("../image/45degreee_fabric.png");
    width: 100%;
}

@media only screen and (min-width: 1152px){
    main section div {
        /*ajustes para pc*/
        display: inline-block;
        position: relative;
        margin: auto;
    }
}

main section div img{
    display: block;
    height: 170px;
    width: 170px;
    margin: auto;
    position: relative;
    border: 3px dotted #C4C4C4;
    padding: 10px;
    
}
main section div h3{
    font-size: 24px;
    margin: auto;
    width: 50%;
    text-align: center;
}

main section div p{
    margin: auto;
    width: 360px;
    text-align: center;
    /* tamaño de fuente definido en p*/
}

/*-END- Politicas y servicio de la empresa*/

/*-END- Codigo centrado en index.html */




/*-START- Codigo centrado en accesorios.html */

/*Los h2 que separan las secciones de las marcas 
ya estan formateados en la sección de index  */

/* Los h3 (los nombres del producto) llevan el
mismo formato que los h3 de index */

/* En la entrega final, probablemente estos iframes
sean cambiados por imgs para no depender de terceros */

main section div div{
    display:block;
}

main section div iframe{
    width: 180px;
    height: 180px;
}

/*-END- Codigo centrado en accesorios.html*/




/*-START- Codigo centrado en mi_pedido.html*/

.FormHeader{
    font-size: 32px;
    text-align: center;
}

main section form{
    display: block;
}
main section form input{
    display:block;
}

.DropBoxLabel{
    display:block;
}

.DropBoxLabel select{
    display: block;
}

.CheckBoxLabel {
    display: inline;
}

/*-END- Codigo centrado en mi_pedido.html*/




/*-START- Codigo centrado en prespuesto.html*/

.FormPresupuesto{
    display:block;
}

.FormPresupuesto label{
    display: block;
}

/*-END- Codigo centrado en prespuesto.html*/




/*-START- Pie del sitio (igual en todas las paginas)*/

footer{
    display: block;
    position: relative;
    background-color: #77B6EA;
    align-content: center;
}

footer h2{
    display: inline;
    margin: auto;
    padding: 16px;
}

footer h2 img{
    height: 40px;
    width: 40px;
}
/* -END- Pie del sitio (igual en todas las paginas)*/
