* {
  padding: 0;
  margin: 0; }

/*Con npm run watch-sass 
mantengo sincronizados el scss
con el css*/
div {
  font-family: 'Courier New', Courier, monospace; }
  div p {
    color: chocolate; }
    div p :hover {
      color: red; }
    div p h1 {
      background-color: blue; }
