/*-START- Pie del sitio (igual en todas las paginas)*/

footer{
    /*hijo de grid*/
    grid-area: Footer;
    /*Padre Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: relative;
    background-color: map-get($fondos, footer );
    align-content: center;

    h2{
        display: none;
    }

    div{
        display: flex;
        flex-direction: row;
        align-items: center;

        h3{
            display: inline;
            font-size: 24px;
            padding-left: 5px;

        }
        img{
            display: inline;
            height: 18px;
            width: 18px;
            //debería agregar include cuadrado

        }
    }
}

@media only screen and (min-width: 768px){
    /*10 inch vertical tablet*/
    footer{
        flex-direction: row;
    }
}
/* -END- Pie del sitio (igual en todas las paginas)*/
