/*-START- Seccion de barra de navegación (y encabezado)*/

header{
    grid-area: Header; /* es hijo de un grid */
    /*grid padre*/
    display: grid;
    grid-template-areas: 
        "nav home . user";
    grid-template-columns: 1fr 1fr 7fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    align-items: center;
    justify-items: center;

    /*El header queda siempre arriba en la pantalla mientras scrolleamos*/
    position: sticky;
    top: 0px;
    z-index: 2;
    @include header__background;
    h2{
        display: none;
    }
    nav, 
    .dropdown-menu .dropdown-item{
        grid-area: nav;
    }
    nav{
        &:not(.dropdown){
            display:none;
            font-size: 16px; /*Este tamaño varía según la pantalla*/
            width: 100%;
        }
        ul{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            list-style: none;
            width: inherit;
            background-color: inherit;
        }
        ul{
            li{
                display: inline-block;
                position:relative;

                a{
                    /*Color (y formato) default de un hipervinculo*/
                    color: $Xiketic;
                    
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 42px;
                    display: flex;
                    align-items: center;
                    text-align: center;

                    text-decoration: none;
                    &:hover{
                        color: $Xiketic;  /*Color de los hipervinculos al pasar el puntero sobre ellos*/
                        background-color: inherit;
                        animation-name: flash_background;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-duration: 1s;
                        animation-delay: 0.1s;
                        border-radius: 10px;
                    }
                    &:active{
                        color: white;  /*Color de los hipervinculos hacer click sobre ellos*/
                    }
                }
            }
        }
    }
}

@keyframes flash_background {
    /*Cambia gradualmente el fondo a blanco*/
    100%{ 
        opacity:0.3;
        background-color: white;
    }
}

#Logo{
    grid-area: home;
    //height: 40px; 
    svg{
        //height: 40px;
        //width: auto;
        //max-width: 65px; /*Evita que haga overflow de la celda del grid*/
        &.mobile{
            display: block;
        }
        &.desktop{
            display: none;
        }
        }
}

@media only screen and (min-width: 1024px) {
    /*tablet horizontal*/
    header{
        grid-template-areas: 
            "home nav user";
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 1fr;
        #Logo{
            svg{
                &.mobile{
                    display: none;
                }
                &.desktop{
                    display: block;
                }
            }
        }
        nav{
            /*tablet horizontal*/
            font-size: 1.5em;
        }
        nav{
            &:not(.dropdown){
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
            ul:not(.dropdown-menu){
                /*Sobreescribo bootstrap margin*/
                margin-bottom: 0;
            }
        }
    }
}


#UserProfile{
    grid-area: user;
    height: 90px;
    width: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
    
/*-END- Seccion de barra de navegación (y encabezado)*/
